h1 {
  color: purple;
  font-size: 25px;
}

h2 {
  padding-right: 4px;
  border: 2px solid black;
  text-align: right;
}

.btn {
  font-size: 20px;
  width: 42px;
  margin: 2px;
}

.highlight, .highlight:hover, .highlight:active {
  background-color: peachpuff;
}
