h1 {
  color: purple;
  font-size: 28px;
}

h2 {
  border: 2px solid black;
  text-align: right;
}

.btn {
  font-size: 20px;
  width: 42px;
  margin: 3px;
}

.highlight {
  background-color: blue;
}
